<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/emp_layout}">
   
<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href="">-->
</th:block>

<th:block layout:fragment="content">
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">강의 리스트</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<colgroup>
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
					</colgroup>
					<thead>
						<tr>
							<td>#</td>
							<td>강의명</td>
							<td>학점</td>
							<td>단대명</td>
							<td>학과명</td>
							<td>담당교수</td>
							<td>최대인원</td>
							<td>현재인원</td>
							<td>날짜</td>
							<td>강의상태</td>
							<td>폐강</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="11">등록된 강의가 없습니다.</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src=""></script>-->
</th:block>

</html>