<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/emp_layout}">
   
<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href="">-->
</th:block>

<th:block layout:fragment="content">
<div class="row" style="width: 80%; margin: 0 auto;">
	<div class="col text-center">
	<form action="/reglecture" method="post">
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ강의 등록 ROW ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
		<div class="row mb-5">
			<div class="col text-start">
				<h4>강의 등록</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row mb-3">
					<div class="offset-2 col-2">
						교과목명 
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="lecName">
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						강의학점 
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="lecScore">
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						강의학기 
					</div>
					<div class="col-4">
						<select class="form-select" name="semNo">
							<option>1학기</option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						단과대학 
					</div>
					<div class="col-4">
						<select class="form-select" name="collNo">
							<option>공과대학</option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						소속학과 
					</div>
					<div class="col-4">
						<select class="form-select" name="deptNo">
							<option>컴퓨터공학과</option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						담당교수 
					</div>
					<div class="col-4">
						<select class="form-select" name="empNo">
							<option>저교수</option>
						</select>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						최대 수강신청 인원
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="maxNum">
					</div>
				</div>
			</div>
		</div>
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ강의 상세 등록 ROW ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
		<div class="row mb-5">
			<div class="col text-start">
				<h4>강의 상세 등록</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row mb-3">
					<div class="offset-2 col-2">
						강의 자료 등록 
					</div>
					<div class="col-4">
						<input type="file" class="form-control"> 
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						강의 날짜 
					</div>
					<div class="col-4">
						<input type="date" class="form-control" name="lecDay" required>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						강의 시작 시간 
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="firstTime" required>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-2 col-2">
						강의 마치는 시간 
					</div>
					<div class="col-4">
						<input type="text" class="form-control" name="lastTime" required>
					</div>
				</div>
			</div>
		</div>
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 버튼 ROW ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ ㅡㅡㅡㅡㅡㅡㅡㅡ-->
		<div class="row mt-5">
			<div class="col">
				<div class="row mb-3">
					<div class="col-4 d-grid" style="margin: 0 auto;">
						<input type="button" class="btn btn-primary" value="시간 체크" onclick="checkTime();">
					</div>
				</div>
				<div class="row">
					<div class="col-4 d-grid" style="margin: 0 auto;">
						<input type="submit" class="btn btn-success" value="등록">
					</div> 
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/emp/reg_lecture.js"></script>
</th:block>

</html>