<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="calendarMapper">
	<resultMap type="com.study.test.school.vo.CalendarVO" id="calendar">
		<id		column="CAL_NO" property="calNo"/>
		<result column="TITLE" property="title"/>
		<result column="REG_DATE" property="regDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CAL_CONTENT" property="calContent"/>
		<result column="CAL_BACK_COLOR" property="calBackColor"/>
	
	</resultMap>

	<!-- 학사일정 전체조회 -->
	<select id="calendarList" resultMap="calendar">
		SELECT CAL_NO
			, TITLE
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD') REG_DATE
			, TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE
			, TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE
			, CAL_CONTENT
		FROM CALLENDAR
	</select>

	<!-- 학사일정 일정추가 -->
	<insert id="addSchedule">
		INSERT INTO CALLENDAR(
			CAL_NO
			, TITLE
			, START_DATE
			, END_DATE
			, CAL_CONTENT
		) VALUES (
			(SELECT 'CAL_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CAL_NO, 5))), 0) + 1, 3, '0') 
         	FROM CALLENDAR)
         	, #{title}
         	, #{startDate}
         	, #{endDate}
         	, #{calContent}
		)
	</insert>
	
	<!-- 클릭한 학사일정 조회 -->
	<select id="getCalForUp" resultMap="calendar">
		SELECT CAL_NO
			, TITLE
			, TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE
			, TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE
			, CAL_CONTENT
		FROM CALLENDAR
		WHERE CAL_NO = #{calNo}
	</select>
	
	<!-- 학사일정 일정 수정 -->
	<update id="updateCal">
		UPDATE CALLENDAR
		SET TITLE = #{title}
		    , START_DATE = #{startDate}
		    , END_DATE = #{endDate}
		    , CAL_CONTENT = #{calContent}
		WHERE CAL_NO = #{calNo}
	</update>
	
	<!-- 학사일정 삭제 -->
	<delete id="deleteCal">
		DELETE CALLENDAR
		WHERE CAL_NO = #{calNo}
	</delete>
	
</mapper>


























