<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="stuMapper">

<resultMap type="com.study.test.stu.vo.StuVO" id="stu">
	<id 	column="STU_NO" 		property="stuNo"/>
	<result column="STU_YEAR" 		property="stuYear"/>
	<result column="STU_SEM" 		property="stuSem"/>
	<result column="STU_STATUS" 	property="stuStatus"/>
	<result column="MEM_NO" 		property="memNo"/>
	<result column="COLL_NO" 		property="collNo"/>
	<result column="DEPT_NO" 		property="deptNo"/>
	<association property="memberVO" resultMap="memberMapper.member"></association>
	<association property="colleageVO" resultMap="colleageMapper.colleage"></association>
	<association property="deptVO" resultMap="colleageMapper.dept"></association>
</resultMap>

<resultMap type="com.study.test.stu.vo.StatusInfoVO" id="status">
	<id 	column="STATUS_NO" 			property="statusNo"/>
	<result column="NOW_STATUS" 		property="nowStatus"/>
	<result column="AFTER_STATUS" 		property="afterStatus"/>
	<result column="APPLY_DATE" 		property="applyDate"/>
	<result column="APPROVAL_DATE" 		property="approvalDate"/>
	<result column="ING_STATUS" 		property="ingStatus"/>
	<result column="STU_NO" 			property="stuNo"/>
	<result column="STATUS_CONTENT" 	property="statusContent"/>
</resultMap>

<select id="getStuInfo" resultMap="stu">
SELECT STU_NO
	, STU_YEAR
	, STU_SEM
	, STU_STATUS
	, MEM_NO
	, COLL_NO
	, DEPT_NO
FROM STU
WHERE MEM_NO = #{memNo}
</select>

<insert id="applyAbsence">
INSERT INTO STATUS_INFO (
	STATUS_NO
	, STU_NO
	, STATUS_CONTENT
) VALUES (
	(SELECT 'STATUS_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(STATUS_NO, 8))), 0) + 1, 3, '0') 
    FROM STATUS_INFO)
    , #{stuNo}
    , #{statusContent}
)
</insert>

<update id="updateStuInfoForAbsence">
UPDATE STU
SET STU_STATUS = '휴학'
WHERE STU_NO = #{stuNo}
</update>

</mapper>


























