<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">
   
<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href="">-->
</th:block>

<th:block layout:fragment="content">
<div class="container">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col sub-title">카테고리 등록</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<form class="row">
						<div class="col-9">
							<input id="cateName" type="text" class="form-control" placeholder="추가할 카테고리명 입력">
						</div>
						<div class="col-3 d-grid">
							<button type="button" class="btn btn-primary mb-3" onclick="regCategory();">
								등록
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col sub-title">카테고리 목록</div>
			</div>
				<div class="row">
				<div class="col">
					<table id="cateListTable" class="table table-striped table-hover text-center" style="font-size: 16px;">
						<thead class="table-head">
							<tr>
								<td>NO</td>
								<td>카테고리명</td>
								<td>사용여부</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${#lists.size(cateList) == 0}">
								<tr>
									<td colspan="4">등록된 카테고리가 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.size(cateList) == 0}">
								<tr th:each="category, state : ${cateList}" style="vertical-align: middle;">
									<td>[[${state.count}]]</td>
									<td>[[${category.cateName}]]</td>
									<td>
										<div class="row">
											<div class="form-check col">
												<input class="form-check-input" type="radio" th:name="${'isUse_'+state.count}" 
												 th:checked="${category.isUse=='Y'}" th:onchange="changeIsUse([[${category.cateNo}]]);">사용중 
											</div>
											<div class="form-check col">
												<input class="form-check-input" type="radio" th:name="${'isUse_'+state.count}"
												 th:checked="${category.isUse=='N'}" th:onchange="changeIsUse([[${category.cateNo}]]);">미사용
											</div>
										</div>
									</td>
									<td><input type="button" value="삭제" class="btn btn-danger" th:onclick="|location.href='@{/board/deleteCate(cateNo=${category.cateNo})}';|"></td>								
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/board/board_cate_manage.js"></script>
</th:block>

</html>