<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
<style>
.active{
	color : white;
	background-color: blue;
}
</style>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h1 style="text-align:center; font-weight: bold;">BOARD</h1>
			</div>
		</div>
		<div class="row text-end mb-3">
			<div class="col-2">
				<select name="cateNo" class="form-select" id="cateSelect" onchange="categorySearch(this);">
					<option value="all" selected>전체</option>
					<option th:each="cate : ${cateList}" th:value="${cate.cateNo}">[[${cate.cateName}]]</option>
				</select>
			</div>
			<div class="col-10">
				<input type="button" value="글쓰기" class="btn btn-primary" th:onclick="|location.href='@{/board/boardWriteForm}'|">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table text-center">
				<colgroup>
					<col width="10%">
					<col width="50%">
					<col width="15%">
					<col width="15%">
					<col width="10%">
				</colgroup>
					<thead>
						<tr>
							<td>No.</td>
							<td>카테고리</td>
							<td>제목</td>
							<td>작성자</td>
							<td>작성일</td>
							<td>조회수</td>
						</tr>
					</thead>
					<tbody id="tbodyTag">
						<tr th:each="board, state : ${boardList}" th:classappend="${board.isNotice=='Y' ? 'active' : ''}">
							<td th:if="${board.isNotice=='Y'}">공지</td>
							<td th:if="${board.isNotice=='N'}">[[${boardList.size()-state.index}]]</td>
							<td>[[${board.boardCategoryVO.cateName}]]</td>
							<td> 
								<th:bolck th:if="${board.isSecret == 'Y'}">
									<img src="/img/lock.png" width="20px;">
								</th:bolck>
								<th:block th:if="${board.isSecret == 'Y'}">
									<a th:href="@{/board/checkPw(boardNo=${board.boardNo})}">
										<span th:text="${board.boardTitle}"></span>
									</a>
								</th:block>
								<th:block th:if="${board.isSecret == 'N'}">
									<a th:href="@{/board/boardDetail(boardNo=${board.boardNo})}">
										<span th:text="${board.boardTitle}"></span>
									</a>
								</th:block>
							</td>
							<td>[[${board.boardWriter}]]</td>
							<td>[[${board.boardCreateDate}]]</td>
							<td>[[${board.boardReadCnt}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-2">
				<nav aria-label="Page navigation example">
				  <ul class="pagination" >
				    <li class="page-item" th:classappend="${pageVO.nowPage == 1 ? 'disabled':''}">
				      <a class="page-link" th:href="@{/board/boardList(nowPage=${pageVO.beginPage-1})}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
					<th:block th:each="pageNum : ${#numbers.sequence(pageVO.beginPage, pageVO.endPage)}">
					    <li class="page-item"><a class="page-link" th:href="@{/board/boardList(nowPage=${pageNum})}"><span th:text="${pageNum}"></span></a></li>
					</th:block>
				    <li class="page-item">
				      <a class="page-link" th:href="@{/board/boardList(nowPage=${pageVO.endPage+1})}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
		
		<div class="row">
			<div class="col-2 d-flex align-items-center justify-content-center">
		        <div class="form-check">
		            <input type="checkbox" class="form-check-input" id="searchCheck" value="notSecret">비밀글 제외
		        </div>
		    </div>
			<div class="col-2">
				<select id="searchSelect" class="form-select">
					<option value="title">제목</option>
					<option value="writer">작성자</option>
				</select>
			</div>
			<div class="col-7 d-grid">
				<input type="text" class="form-control" id="searchInput" placeholder="Search">
			</div>
			<div class="col-1">
				<input type="button" class="btn btn-primary" value="검색" onclick="searchBoard();">
			</div>
		</div>
		
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
    <script type="text/javascript" src="/js/content/board/board_list.js"></script> 
</th:block>

</html>