<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
<style>
img{
	width: 100%;
	height: 500px;
}
.row-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* rgba에서 마지막 숫자는 투명도를 나타냅니다. 0은 완전 투명, 1은 완전 불투명입니다. */
    margin-bottom: 20px;
    padding-bottom: 20px;
}
</style>
<div class="container">
	<div class="row">
		<div class="offset-2 col-8">
			<div class="row mb-3 text-center">
				<div class="col">
					<h3>게시글 상세화면</h3>
				</div>
			</div>
			<div class="row mb-3 row-border">
				<div class="col-10">
					작성자 : [[${boardDetail.memberVO.memName}]]
				</div>
				<div class="col-2">
					조회수 : [[${boardDetail.boardReadCnt}]]
				</div>
			</div>
			<div class="row mb-3 row-border">
				<div class="col">
					[[${boardDetail.boardTitle}]]
				</div>
			</div>
			<div class="row mb-3 row-border">
				<div class="col">
					[[${boardDetail.boardContent}]]
					<br>
					<img th:unless="${boardDetail.boardImgVO.imgCode=='미등록'}" th:src="${'/upload/'+boardDetail.boardImgVO.attachedName}">
				</div>
			</div>
			<div class="row mb-3 row-border text-end">
				<div class="col">
					<th:block th:if="${#authorization.expression('hasRole(''ROLE_stf'')') or boardDetail.boardWriter == #authentication.name}">
						<input type="button" value="수정" class="btn btn-primary" th:onclick="|location.href='@{/board/updateBoard(boardNo=${boardDetail.boardNo})}';|">
						<input type="button" value="삭제" class="btn btn-danger" th:onclick="deleteBoard([[${boardDetail.boardNo}]]);">
					</th:block>
					<input type="button" value="목록" class="btn btn-secondary" onclick="location.href='/board/boardList';">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					댓글 [[${boardDetail.replyCnt}]]
				</div>
			</div>
			
			<form action="/reply/regReply" method="post">
			<input type="hidden" name="boardNo" th:value="${boardDetail.boardNo}">
			<div class="row mb-3">
				<div class="col-10">
					<input type="text" class="form-control" name="replyContent" placeholder="댓글을 입력하세요">
				</div>
				<div class="col-2 text-end">
					<input type="submit" sec:authorize="isAuthenticated()" value="등록" class="btn btn-secondary">
				</div> 
			</div>
			</form>
			
			<div class="row mb-3 row-border" th:each="reply : ${replyList}">
				<div class="col-6">
					[[${reply.replyContent}]]
				</div>
				<div class="col-6">
					[[${reply.memberVO.memName}]]/[[${reply.replyCreateDate}]]
					<th:block th:if="${#authorization.expression('hasRole(''ROLE_stf'')') or reply.replyWriter == #authentication.name}">
						<input type="button" value="수정" class="btn btn-primary" th:onclick="setInput(this, [[${reply.replyNo}]], [[${reply.boardNo}]]);"> 
						<input type="button" value="삭제" class="btn btn-danger" th:onclick="deleteReply([[${reply.replyNo}]], [[${reply.boardNo}]]);">
					</th:block>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
    <script type="text/javascript" src="/js/content/board/board_detail.js"></script> 
</th:block>

</html>