<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="empHeaderFragment">
<div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav" id="dropmenu">
							<li class="nav-item">
								<a class="nav-link" href="/emp/regLecture">강의 등록</a>
							</li>		
							<li class="nav-item">
								<a class="nav-link" href="/emp/lecSchedule">강의 시간표</a>
							</li>		
							<li class="nav-item">
								<a class="nav-link" href="/emp/lectureList">강의 리스트</a>
							</li>		
							<li class="nav-item">
								<a class="nav-link" href="/emp/regScore">성적등록</a>
							</li>		
							<li class="nav-item">
								<a class="nav-link" href="/emp/empBoard">게시판</a>
								<ul id="submenu">
									<li>
										<a href="/emp/empBoard">전체 게시판</a>
									</li>
									<li>
										<a href="/emp/notice">학사 공지사항</a>
									</li>
									<li>
										<a href="/emp/questionAndAnswer">Q&A</a>
									</li>
									<li>
										<a href="/emp/boardWrite">게시글쓰기</a>
									</li>
									<li>
										<a href="/emp/selectMyBoard">나의 게시글 조회</a>
									</li>
								</ul>
							</li>		
							<li class="nav-item">
								<a class="nav-link" href="/emp/empCalender">켈린더</a>
							</li>		
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</th:block>

</html>






















