<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="footerFragment">

<div>
	<img src="https://cdn.pixabay.com/photo/2016/01/05/11/36/architecture-1122359_640.jpg" style="width: 100%; overflow: none;">
</div>

<footer>
<div class="footerContainer">
	<div class="socialIcons">
		<a href=""><i class="fa-brands fa-facebook"></i></a>
		<a href=""><i class="fa-brands fa-instagram"></i></a>
		<a href=""><i class="fa-brands fa-twitter"></i></a>
		<a href=""><i class="fa-brands fa-google-plus"></i></a>
		<a href=""><i class="fa-brands fa-youtube"></i></a>
	</div>
	
	<div class="footerNav">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">News</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact Us</a></li>
			<li><a href="">Our Team</a></li>
		</ul>
	</div>
	
	<div class="footerBottom">
		<p>Copyright &copy;2023; Designed by <span class="designer">Sajo</span></p>
	</div>
</div>
</footer> 
</th:block>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/footer.css">
</html>

