<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headerFragment">
 
<div>
	<div class="row">
			<div class="col text-end">
				
				<span sec:authorize="isAuthenticated()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
				 	 <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
					</svg>
					[[${#authentication.name}]]님 반갑습니다.
					<a th:href="@{/member/logout}" class="list-group-item list-group-item-action">LOGOUT</a>
					
				</span> 
				
				<span sec:authorize="isAnonymous()"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
			 	 <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
				</svg>

				<span>로그인이 필요합니다.</span>
					<span data-bs-toggle="modal" data-bs-target="#loginModal" style="cursor: pointer;">LOGIN</span> 
				</span>
				
				
				
			</div>
		</div>
</div>
 
 <div class="row" id="aaaa">
 	<div class="col text-center">
 		
 		
 	
 		
 		
 		
 		
 		<span class="header-title" style="font-size: 48px;">사조대학 &nbsp;&nbsp;</span>
 		
 		

			
		</div>
 		
		 </div>
 
			
 
 <div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
						
						<span data-bs-toggle="modal" data-bs-target="#joinModal" style="cursor: pointer;">
							회원등록
						</span>
						<div class="dropdown">
						<span><a href="/member/time"> 디지털 시계</span>
						<span><a href="/member/stuRegPerMonth">월별등록통계</a> </span> <!-- 드롭다운 걸어서 휴학, 재적 학생 통계 추가 -->
						<span><a href="/member/weather"> 날씨</span>
						<span><a href="/member/map"> 오시는 길</span>
						
						<span><a href="/board/boardList">게시판</a></span>
							<div class="dropdown-content">
								<a href="/board/boardList">게시판 목록</a>
								<a href="/board/boardWriteForm">게시글쓰기</a>
								<a href="/board/myBoard">나의 게시글 조회</a>
							</div>
						</div>
						<span><a href="/member/stuRegPerMonth">월별등록통계</a> </span>
						<span> 메뉴 2</span>
						<span> 메뉴 3</span>
				</div>
			</nav>
		</div>
	</div>
	
	
	
	
	
 <div class="row">
	<div class="col">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">			
				<div class="dropdown">
					<span class="dropbtn_icon">개인정보 </span>
					<div class="dropdown-content">
						<a href="/stu/stuInfoForSc">학적 기본 조회</a>
						<a href="/stu/stuInfo">개인 정보 조회</a>
						<a href="/stu/updateStuInfoForm">개인 정보 수정</a>
					</div>
				</div>
				<div class="dropdown">
					<span>교과과정</span>
					<div class="dropdown-content">
						<a href="/stu/stuSemEnroll">수강 신청</a>
						<a href="/stu/stuSemEnrollNow">수강 신청 내역</a>
						<a href="/stu/stuMultimajor">복수 전공 신청</a>
						<a href="/stu/stuStatus">휴학 신청</a>
						<a href="/stu/stuStatusRe">복학 신청</a>
					</div>
				</div>
				<div class="dropdown">
					<span>시간표</span>
					<div class="dropdown-content">
						<a href="/stu/stuTimetable">개인 시간표 조회</a>
					</div>
				</div>
				<div class="dropdown">
					<span>대학생활</span>
					<div class="dropdown-content">
						<a href="/board/stuBoard">학생 커뮤니티</a>
						<a href="#">실시간 대화</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
 
 
 
 
 
 <!-- <div sec:authorize="hasRole('ROLE_pro')"> -->
	 <div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<div class="dropdown">
						<span class="dropbtn_icon"><a href="/emp/regLecture">강의 등록 </a></span>
					</div>
					<div class="dropdown">
						<span><a href="/emp/lecSchedule">강의 시간표</a></span>
					</div>
					<div class="dropdown">
						<span><a href="/emp/lectureList">강의 리스트</a></span>
					</div>
					<div class="dropdown">
						<span><a href="/emp/regScore">성적등록</a></span>
					</div>
				</div>
			</nav>
		</div>
	</div>

<!-- <div sec:authorize="hasRole('ROLE_stf')"> -->
	<div class="row">
		<div class="col">
			<div class="dropdown">
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					학사 메뉴
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/info"><button class="dropdown-item" type="button">학사 안내</button></a></li>
					<li><a href="/school/scheList"><button class="dropdown-item" type="button">학사 일정</button></a></li>
				</ul>
					
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					학사 조회
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/checkStu"><button class="dropdown-item" type="button">학생 조회</button></a></li>
					<li><a href="/school/checkPro"><button class="dropdown-item" type="button">교수 조회</button></a></li>
					<li><a href="/school/checkLec"><button class="dropdown-item" type="button">강의/학점 조회</button></a></li>
				</ul>	
					
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					학적 변동
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/acaLeave"><button class="dropdown-item" type="button">휴학 관리</button></a></li>
					<li><a href="/school/acaReturn"><button class="dropdown-item" type="button">복학 관리</button></a></li>
				</ul>
				
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					수업 메뉴
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/lessonEnrolment"><button class="dropdown-item" type="button">수강 관리</button></a></li>
					<li><a href="/school/lessonMajorDouble"><button class="dropdown-item" type="button">복수전공 관리</button></a></li>
					<li><a href="/school/lessonWarning"><button class="dropdown-item" type="button">학사경고 관리</button></a></li>
				</ul>
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					회원 메뉴
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/memberList"><button class="dropdown-item" type="button">회원 관리</button></a></li>
				</ul>
			</div>
		</div>	
	</div>


	
<!--  </div> -->
 
 <!--LOGIN Modal -->
	<div class="modal fade" id="loginModal" 
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			
			
				<div class="modal-body">
					<form id="loginForm" method="post">
						<div class="row mb-3">
							
							<div class="col-12" style="text-align: center; font-size: 24px;">
								<strong>사조대학</strong>
							</div>
							
							<div class="col-12 mb-3">
								<input type="text" class="form-control" placeholder="회원번호를 입력하세요." name="memNo" id="memNo">
							</div>
							<div class="col-12">
								<input type="password" class="form-control" placeholder="비밀번호 입력해주세요." name="memPw" id="memPw">
							</div>
							
							<div class="row mb-3">
								<div class="col-6 d-grid">
									<input type="button" class="btn d-grid mt-3 btn-primary" value="로그인" onclick="login();" id="toastStart">
								</div>
								<div class="col-6 d-grid">
									<span data-bs-toggle="modal" data-bs-target="#findPwModal" style="cursor: pointer;" class="btn d-grid mt-3 btn-primary">
									비밀번호 찾기
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
 
 
			</div>
		</div>
	</div>
 
 
 
 <!-- JOIN Modal -->
	<div class="modal fade" id="joinModal" 
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
 
 				<div class="modal-body">
 					<form class="row g-3" id="joinForm" th:action="@{/member/join}" method="post">
 						
 							<div class="col-12" style="text-align: center; font-size: 24px;">
								<strong>사조대학</strong>
							</div>
 						
 						<div class="col-9">
 							<label for="memId" class="form-label">학번 및 교번</label>
 							<input type="text" class="form-control" id="memNo" name="memNo" placeholder="등록할 학번 및 교번을 숫자로 입력하세요." onkeyup="setDisabled();">
 						</div>
 						
 						<div class="col-3">
 							<label for="check_id" class="form-label">&nbsp;</label>
 							<input type="button" class="btn" id="check_id" value="중복 확인" onclick="isDuplicateMemNo();">
 						</div>
 						
 						<div class="col-12">
							<label for="memPw" class="form-label">비 밀 번 호</label> 
							<input type="password" class="form-control" id="memPw" name="memPw" placeholder="숫자와 문자 포함 형태의 6~12자리 이내의 암호이여야 합니다.">
						</div>
						
 						<div class="col-12">
							<label for="memQuest" class="form-label">좋아하는 숫자</label> 
							<input type="password" class="form-control" id="memQuest" name="memQuest" placeholder="비밀번호찾기시 사용됩니다.">
						</div>
						
						<div class="col-12">
							<label for="memName" class="form-label">이름</label> 
							<input type="text" class="form-control" id="memName" name="memName" placeholder="이름 입력은 필수입니다.">
						</div>
						
						<div class="col-3">
							<div class="form-check">
								<input class="form-check-input" value="M" type="radio" id="gender_male" name="memGender" checked>
								<label class="form-check-label" for="gender_male">Male</label>
							</div>
						</div>
						<div class="col-3">
							<div class="form-check">
								<input class="form-check-input" value="F" type="radio" id="gender_female" name="memGender">
								<label class="form-check-label" for="gender_female">FeMale</label>
							</div>
						</div>
						
						<div class="col-6"></div>
						
						<div class="col-12 d-grid">
							<label class="form-date-label" for="mem_birthday">생년월일</label>
							<input type="date" class="form-control" id="memBirthday" name="memBirthday">
							<!-- 현재 날짜 이하만 고를수 있도록 설정 -->
							<script>
							  const memBirthdayInput = document.getElementById('memBirthday');
							  memBirthdayInput.min = '0000-01-01';
							  const currentDate = new Date().toISOString().split('T')[0];
							  memBirthdayInput.max = currentDate;
							</script>
						</div>
						
						<div class="col-4">
							<label for="tell_1" class="form-label">연락처</label> 
								<select id="tell_1" name="memTells"class="form-select">
									<option value="010">010</option>
									<option value="011">011</option>
									<option value="012">012</option>
								</select>
						</div>
						
						<div class="col-4">
							<label for="tell_2" class="form-label">&nbsp;</label> 
							<input
								type="text" class="form-control" id="tell_2" name="memTells">
						</div>
						
						<div class="col-4">
							<label for="tell_3" class="form-label">&nbsp;</label> 
							<input type="text" class="form-control" id="tell_3" name="memTells">
						</div>
						
						<div class="col-12">
							<label for="mem_email" class="form-label">&nbsp; 이메일</label> 
						</div>
						
						<div class="col-12">
							<input type="text" class="form-control" id="memEmail" name="memEmail" placeholder="이메일 필수사항.">
						</div>
						
						<div class="col-12">
						    <label for="btn-auth" class="form-label">&nbsp;</label> 
						    <input type="button" class="form-control" id="btn-auth" name="btn-auth" value="인증번호받기" onclick="authenMail();">
						</div>
						
						<div class="col-12">
						    <label for="auth_mail" class="form-label">&nbsp;</label> 
						    <input type="text" class="form-control" id="auth_mail" name="auth_mail">
						</div>
						<div class="col-12">
						    <label for="time-remaining" class="form-label">&nbsp;</label> 
						    <input type="text" class="form-control" id="time-remaining" name="time-remaining" value="남은시간">
						    
						</div>
						<div class="col-12">
						    <label for="confirmation" class="form-label">&nbsp;</label> 
						    <input type="button" class="form-control" id="confirmation" name="confirmation" value="확인" onclick="checkVerificationCode();">
						</div>
						
						
						<div class="col-9">
							<label for="memAddr" class="form-label">주소</label> 
							<input type="text" class="form-control" id="memAddr" name="memAddr" onclick="searchAddr();">
						</div>
						
						<div class="col-3 d-grid">
							<label for="search_btn" class="form-label">&nbsp;</label> <!-- &nbsp; 하면 space처리 됨 -->
							<input type="button" class="btn btn-primary" id="search_btn" value="Search" onclick="searchAddr();" placeholder="주소는 필수 입력 입니다.">
						</div>
						
						<div class="col-12">
							<input type="text" class="form-control" id="memAddrDetail" name="memAddrDetail" placeholder="상세 주소는 필수사항.">
						</div>
						
						<div class="col-12">
							<label for="" class="form-label">이미지 등록</label> 
							<input type="file" class="form-control" id="memImage" name="memImage">
						</div>
						
						
						<div class="col-12 d-grid">
							<div>
								<strong>권한설정(필수)</strong>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check">
								<input class="form-check-input" value="stu" type="radio" id="role_stu" name="memRole" checked>
								<label class="form-check-label" for="role_stu">학생</label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check">
								<input class="form-check-input" value="pro" type="radio" id="role_professor" name="memRole">
								<label class="form-check-label" for="role_professor">교수</label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check">
								<input class="form-check-input" value="stf" type="radio" id="role_staff" name="memRole">
								<label class="form-check-label" for="role_staff">교직원</label>
							</div>
						</div>
					
						<div class="col-12 d-grid">
							<button id="joinBtn" onclick="join();" type="button" class="btn">회 원 등 록</button>
						</div>
 						
 						
 						
 					</form>
 				</div>
 
 
 
 
 
 
 
 			</div>
		</div>
	</div>
 

 
 
</th:block>


</html>






















