<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headerFragment">
 
<div>
	<div class="row">
			<div class="col text-end">
				
				<span sec:authorize="isAuthenticated()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
				 	 <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
					</svg>
					[[${#authentication.name}]]님 반갑습니다.
					<a th:href="@{/member/logout}" class="list-group-item list-group-item-action">LOGOUT</a>
					
				</span> 
				
				<span sec:authorize="isAnonymous()"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
			 	 <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
				</svg>

				<span>로그인이 필요합니다.</span>
					<span data-bs-toggle="modal" data-bs-target="#loginModal" style="cursor: pointer;">LOGIN</span> 
				</span>
				
				
				
			</div>
		</div>
</div>
 
 <div class="row" id="aaaa">
 	<div class="col text-center">
 		
 		
 	
 		
 		
 		
 		
 		<span class="header-title" style="font-size: 48px;">사조대학 &nbsp;&nbsp;</span>
 		
 		

			
		</div>
 		
		 </div>
 
			
 
 <div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
						
						<div class="dropdown">
			
						<span><a href="/board/boardList">게시판</a></span>
							<div class="dropdown-content">
								<a href="/board/boardCateManage">게시판 카테고리 관리</a>
								<a href="/board/boardList">게시판 목록</a>
								<a href="/board/boardWriteForm">게시글쓰기</a>
								<a href="/board/myBoard">나의 게시글 조회</a>
							</div>
	
						</div>
						
						<div class="dropdown">
							<span>통계 </span>
							<div class="dropdown-content">
							<span><a href="/member/stuRegPerMonth"> 등록학생현황</a></span>
							<span><a href="/member/stuRegPerMonth2"> 휴학생현황</a></span>
							<span><a href="/member/stuRegPerMonth3"> 재학생현황</a></span>
						</div>
						</div>
						<div class="dropdown">
							<span>오시는길</span>
							<div class="dropdown-content">
							<span><a href="/member/map">지도 및 로드뷰</a></span>
							<span><a href="#" onclick="openPopup();">길찾기</a></span>
						</div>
						</div>
						
						<span> <span th:text="${#authentication.authorities}"></span></span>
				</div>
			</nav>
		</div>
	</div>
	
	
	
	
<!-- 학생 -->
<div sec:authorize="hasRole('ROLE_stu')">
 <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Offcanvas dark navbar</a>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">학생 메뉴</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              개인정보
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/stu/stuInfoForSc">학적 기본 조회</a></li>
              <li><a class="dropdown-item" href="/stu/stuGetGrade">성적 조회</a></li>
              <li><a class="dropdown-item" href="/stu/stuInfo">개인 정보 조회</a></li>
              <li><a class="dropdown-item" href="/stu/updateStuInfoForm">개인 정보 수정</a></li>
            </ul>
            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              교과과정
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/stu/stuSemEnroll">수강 신청</a></li>
              <li><a class="dropdown-item" href="/stu/stuSemEnrollNow">수강 신청 내역</a></li>
              <li><a class="dropdown-item" href="/stu/stuMultimajor">복수 전공 신청</a></li>
              <li><a class="dropdown-item" href="/stu/stuStatus">휴학 신청</a></li>
              <li><a class="dropdown-item" href="/stu/stuStatusRe">복학 신청</a></li>
            </ul>
            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              시간표
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/stu/stuTimetable">개인 시간표 조회</a></li>
   
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</div>






<!-- 교수 -->
<div sec:authorize="hasRole('ROLE_pro')">
 <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Offcanvas dark navbar</a>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">교수 메뉴</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/emp/regLecture">강의 등록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emp/lecSchedule">강의 시간표</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emp/lectureList">강의 리스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emp/regScore">성적등록</a>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</div>

 
<!-- 교직원 -->
<div sec:authorize="hasRole('ROLE_stf')">
 <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Offcanvas dark navbar</a>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">교직원 메뉴</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              학사 메뉴
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/school/info">학사 안내</a></li>
              <li><a class="dropdown-item" href="/school/scheList">학사 일정</a></li>
            </ul>
            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              학사조회
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/school/checkStu">학생 조회</a></li>
              <li><a class="dropdown-item" href="/school/checkPro">교수 조회</a></li>
              <li><a class="dropdown-item" href="/school/checkLec">강의/학점 조회</a></li>
            </ul>
            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              학적변동
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/school/acaLeave">휴학 관리</a></li>
              <li><a class="dropdown-item" href="/school/acaReturn">복학 관리</a></li>
            </ul>
            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              수업메뉴
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/school/lessonMajorDouble">복수전공 관리</a></li>
              <li><a class="dropdown-item" href="/school/lessonWarning">학사경고 관리</a></li>
            </ul>

            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              회원메뉴
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/school/memberList">신규 회원</a></li>
              <li><a class="dropdown-item" href="/school/memberList">승인/취소 조회</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</div>
 
 
 

	
 
 <!--LOGIN Modal -->
	<div class="modal fade" id="loginModal" 
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			
			
				<div class="modal-body">
					<form id="loginForm" method="post">
						<div class="row mb-3">
							
							<div class="col-12" style="text-align: center; font-size: 24px;">
								<strong>사조대학</strong>
							</div>
							
							<div class="col-12 mb-3">
								<input type="text" class="form-control" placeholder="회원번호를 입력하세요." name="memNo" id="memNo">
							</div>
							<div class="col-12">
								<input type="password" class="form-control" placeholder="비밀번호 입력해주세요." name="memPw" id="memPw">
							</div>
							
							<div class="row mb-3">
								<div class="col-6 d-grid">
									<input type="button" class="btn d-grid mt-3 btn-primary" value="로그인" onclick="login();" id="toastStart">
								</div>
								<div class="col-6 d-grid">
									<span data-bs-toggle="modal" data-bs-target="#findPwModal" style="cursor: pointer;" class="btn d-grid mt-3 btn-primary">
									비밀번호 찾기
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
 
 
			</div>
		</div>
	</div>
 
 
 
 <!-- JOIN Modal -->
	<div class="modal fade" id="joinModal" 
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
 
 				<div class="modal-body">
 					<form class="row g-3" id="joinForm" th:action="@{/member/join}" method="post">
 						
 							<div class="col-12" style="text-align: center; font-size: 24px;">
								<strong>사조대학</strong>
							</div>
 						
 						<div class="col-9">
 							<label for="memId" class="form-label">학번 및 교번</label>
 							<input type="text" class="form-control" id="memNo" name="memNo" placeholder="등록할 학번 및 교번을 숫자로 입력하세요." onkeyup="setDisabled();">
 						</div>
 						
 						<div class="col-3">
 							<label for="check_id" class="form-label">&nbsp;</label>
 							<input type="button" class="btn" id="check_id" value="중복 확인" onclick="isDuplicateMemNo();">
 						</div>
 						
 						<div class="col-12">
							<label for="memPw" class="form-label">비 밀 번 호</label> 
							<input type="password" class="form-control" id="memPw" name="memPw" placeholder="숫자와 문자 포함 형태의 6~12자리 이내의 암호이여야 합니다.">
						</div>
						
 						<div class="col-12">
							<label for="memQuest" class="form-label">좋아하는 숫자</label> 
							<input type="password" class="form-control" id="memQuest" name="memQuest" placeholder="비밀번호찾기시 사용됩니다.">
						</div>
						
						<div class="col-12">
							<label for="memName" class="form-label">이름</label> 
							<input type="text" class="form-control" id="memName" name="memName" placeholder="이름 입력은 필수입니다.">
						</div>
						
						<div class="col-3">
							<div class="form-check">
								<input class="form-check-input" value="M" type="radio" id="gender_male" name="memGender" checked>
								<label class="form-check-label" for="gender_male">Male</label>
							</div>
						</div>
						<div class="col-3">
							<div class="form-check">
								<input class="form-check-input" value="F" type="radio" id="gender_female" name="memGender">
								<label class="form-check-label" for="gender_female">FeMale</label>
							</div>
						</div>
						
						<div class="col-6"></div>
						
						<div class="col-12 d-grid">
							<label class="form-date-label" for="mem_birthday">생년월일</label>
							<input type="date" class="form-control" id="memBirthday" name="memBirthday">
							<!-- 현재 날짜 이하만 고를수 있도록 설정 -->
							<script>
							  const memBirthdayInput = document.getElementById('memBirthday');
							  memBirthdayInput.min = '0000-01-01';
							  const currentDate = new Date().toISOString().split('T')[0];
							  memBirthdayInput.max = currentDate;
							</script>
						</div>
						
						<div class="col-4">
							<label for="tell_1" class="form-label">연락처</label> 
								<select id="tell_1" name="memTells"class="form-select">
									<option value="010">010</option>
									<option value="011">011</option>
									<option value="012">012</option>
								</select>
						</div>
						
						<div class="col-4">
							<label for="tell_2" class="form-label">&nbsp;</label> 
							<input
								type="text" class="form-control" id="tell_2" name="memTells">
						</div>
						
						<div class="col-4">
							<label for="tell_3" class="form-label">&nbsp;</label> 
							<input type="text" class="form-control" id="tell_3" name="memTells">
						</div>
						
						<div class="col-12">
							<label for="mem_email" class="form-label">&nbsp; 이메일</label> 
						</div>
						
						<div class="col-12">
							<input type="text" class="form-control" id="memEmail" name="memEmail" placeholder="이메일 필수사항.">
						</div>
						
						<div class="col-12">
						    <label for="btn-auth" class="form-label">&nbsp;</label> 
						    <input type="button" class="form-control" id="btn-auth" name="btn-auth" value="인증번호받기" onclick="authenMail();">
						</div>
						
						<div class="col-12">
						    <label for="auth_mail" class="form-label">&nbsp;</label> 
						    <input type="text" class="form-control" id="auth_mail" name="auth_mail">
						</div>
						<div class="col-12">
						    <label for="time-remaining" class="form-label">&nbsp;</label> 
						    <input type="text" class="form-control" id="time-remaining" name="time-remaining" value="남은시간">
						    
						</div>
						<div class="col-12">
						    <label for="confirmation" class="form-label">&nbsp;</label> 
						    <input type="button" class="form-control" id="confirmation" name="confirmation" value="확인" onclick="checkVerificationCode();">
						</div>
						
						
						<div class="col-9">
							<label for="memAddr" class="form-label">주소</label> 
							<input type="text" class="form-control" id="memAddr" name="memAddr" onclick="searchAddr();">
						</div>
						
						<div class="col-3 d-grid">
							<label for="search_btn" class="form-label">&nbsp;</label> <!-- &nbsp; 하면 space처리 됨 -->
							<input type="button" class="btn btn-primary" id="search_btn" value="Search" onclick="searchAddr();" placeholder="주소는 필수 입력 입니다.">
						</div>
						
						<div class="col-12">
							<input type="text" class="form-control" id="memAddrDetail" name="memAddrDetail" placeholder="상세 주소는 필수사항.">
						</div>
						
						<div class="col-12">
							<label for="" class="form-label">이미지 등록</label> 
							<input type="file" class="form-control" id="memImage" name="memImage">
						</div>
						
						
						<div class="col-12 d-grid">
							<div>
								<strong>권한설정(필수)</strong>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check">
								<input class="form-check-input" value="stu" type="radio" id="role_stu" name="memRole" checked>
								<label class="form-check-label" for="role_stu">학생</label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check">
								<input class="form-check-input" value="pro" type="radio" id="role_professor" name="memRole">
								<label class="form-check-label" for="role_professor">교수</label>
							</div>
						</div>
						<div class="col-4">
							<div class="form-check">
								<input class="form-check-input" value="stf" type="radio" id="role_staff" name="memRole">
								<label class="form-check-label" for="role_staff">교직원</label>
							</div>
						</div>
					
						<div class="col-12 d-grid">
							<button id="joinBtn" onclick="join();" type="button" class="btn" disabled>회 원 등 록</button>
						</div>
 						
 						
 						
 					</form>
 				</div>
 
 
 
 
 
 
 
 			</div>
		</div>
	</div>
 
<script>
        function openPopup() {
            var link = "https://map.kakao.com/?map_type=TYPE_MAP&target=car&rt=%2C%2C524447%2C1082335&rt1=&rt2=%EC%B9%B4%EC%B9%B4%EC%98%A4&rtIds=%2C&rtTypes=%2C";
            window.open(link, "_blank", "width=600, height=400");
        }
</script>
 
 
</th:block>


</html>

