<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/school/school_layout}">

<th:block layout:fragment="content">
<h1 style="text-align: center;">학사안내</h1>
<form id="schInfoUpdateForm" th:action="@{/school/updateSchoolInfo}" method="post">
	<div th:each="detail : ${detailList}">
		<input type="hidden" id="schInfoCode" name="schInfoCode" th:value="${detail.schInfoCode}">
		<div class="row" style="background-color: #f1f4f7;">
			<div class="col-10">
				<input style="width: 100%;" name="schInfoTitle" th:value="${detail.schInfoTitle}">
			</div>
			<div class="col-2">
				<span th:text="${detail.schInfoNum}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>작성자 : </span><span th:text="${detail.schInfoWriter}"></span>
			</div>
			<div class="col-2">
				<span>등록일 : </span><span th:text="${detail.schInfoDate}"></span> 
			</div>
			<div class="col-2">
				<span>조회수 : </span><span th:text="${detail.schInfoReadCnt}"></span>
			</div>
			<div class="col-6">
				<span>기간 : </span><span th:text="${detail.schInfoStartDate}"></span> ~
				<span th:text="${detail.schInfoEndDate}"></span>
			</div>
		</div>	
		<div class="row">
			<div class="col">
				<textarea rows="20" cols="100" name="schInfoContent" th:text="${detail.schInfoContent}"></textarea>
			</div>
		</div>	
		<div class="row">
			<div class="col-3">이전글</div>
			<div class="col-9">
				<a>
				</a>
			</div>
		</div>	
		<div class="row">
			<div class="col-3">다음글</div>
			<div class="col-9">[조선대학교] 2023학년도 여름 계절학기 학점교류 신청 안내</div>
		</div>	
		
		<div class="row">
			<div class="col">
				<input type="button" value="목록으로 가기" th:onclick="|location.href='@{/school/info}';|">
				<input type="button" value="수정" onclick="schInfoUpdate();">
				<!-- <input type="submit" value="수정" th:onclick="|location.href='@{/school/info(schInfoCode=${detail.schInfoCode})}'|"> -->
			</div>
		</div>	
	</div>
</form>		

</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/school/school.js"></script>
</th:block>

</html>



