<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/school/school_layout}">

<th:block layout:fragment="content">
	<h1 style="text-align: center;">학사 안내</h1>
	<form id="searchForm" th:action="@{/school/info}" method="post">
		<div class="row">
		 	<div class="col-3">
				<select class="form-select" id="yearSelect" name="searchYear" onchange="getYearSelect();">
					<th:block th:each="num : ${#numbers.sequence(thisYear-4, thisYear)}">
						<option th:selected="${year == num}" th:value="${num}">[[${num}]]년</option>
					</th:block>
				</select>
		 	</div>
		 	<div class="col-3">
		 		<select class="form-select">
					<option>전체(월)</option>
					<option>1월</option>
					<option>2월</option>
					<option>3월</option>
					<option>4월</option>
					<option>5월</option>
					<option>6월</option>
					<option>7월</option>
					<option>8월</option>
					<option>9월</option>
					<option>10월</option>
					<option>11월</option>
					<option>12월</option>
				</select>
		 	</div>
		 	<div class="col-4">
		 		<input type="text" class="form-control" name="searchValue"  placeholder="검색어를 입력해 주세요.">
		 	</div>
		 	<div class="col-2 d-grid">
		 		<input type="button" class="btn btn-primary" value="검색" onclick="infoSearchList();">
		 	</div>
		 </div>
 	</form>
	 
	 <div class="row">
	 	<div class="col">
	 		<table class="table table-hover text-center align-middle">
	 			<colgroup>
	 				<col>
	 				<col>
	 				<col>
	 				<col>
	 			</colgroup>
	 			<thead>
	 				<tr>
	 					<td>번호</td>
	 					<td>제목</td>
	 					<td>등록일</td>
	 					<td>기간</td>
	 				</tr>
	 			</thead>
	 			<tbody>
	 				<th:block th:if="${#lists.size(infoList) == 0}">
	 					<tr>
	 						<td colspan="4">조회된 안내글이 없습니다.</td>
	 					</tr>
	 				</th:block>
	 				<th:block th:unless="${#lists.size(infoList) == 0}">
	 					<tr th:each="info, state : ${infoList}">
		 					<td>[[${#lists.size(infoList) - state.index}]]</td>
		 					<td>
		 						<a th:href="@{/school/schoolBoardDetail(schInfoCode=${info.schInfoCode})}">
		 							[[${info.schInfoTitle}]]
		 						</a>
		 					</td>
		 					<td>[[${info.regDate}]]</td>
		 					<td>[[${info.startDate}]] ~ [[${info.endDate}]]</td>
		 				</tr>
	 				</th:block>
	 			</tbody>
	 		</table>
			<div sec:authorize="isAuthenticated()">
				<div th:if="${#authorization.expression('hasRole(''ROLE_stf'')')}">
					<input type="button" value="글등록" th:onclick="|location.href='@{/school/regSchoolBoard}';|">
				</div>
			</div>
	 	</div>
	 </div>



</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/school/school.js"></script>
</th:block>

</html>



