<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/school/school_layout}">

<th:block layout:fragment="content">
<h1 style="text-align: center;">학사안내</h1>
<form th:action="@{/school/updateSchoolInfo}" method="post">
	<div th:each="detail : ${detailList}">
		<div class="row" style="background-color: #f1f4f7;">
			<div class="col-10">
				<input type="text" style="width: 100%;" th:value="${detail.schInfoTitle}">
			</div>
			<div class="col-2">
				NO.21313
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<span>작성자 : </span>[[${detail.schInfoWriter}]]
			</div>
			<div class="col-2">
				<span>등록일 : </span>[[${detail.regDate}]]
			</div>
			<div class="col-2">
				<span>조회수 : </span>[[${detail.schInfoReadCnt}]]
			</div>
			<div class="col-6">
				<span>기간 : </span>[[${detail.startDate}]] ~ [[${detail.endDate}]]
			</div>
		</div>	
		<div class="row">
			<div class="col">
				<textarea rows="20" cols="100" th:text="${detail.schInfoContent}"></textarea>
			</div>
		</div>	
		<div class="row">
			<div class="col-3">이전글</div>
			<div class="col-9">
				<a>
				</a>
			</div>
		</div>	
		<div class="row">
			<div class="col-3">다음글</div>
			<div class="col-9">[조선대학교] 2023학년도 여름 계절학기 학점교류 신청 안내</div>
		</div>	
		
		<div class="row">
			<div class="col">
				<input type="button" value="목록으로 가기" th:onclick="|location.href='@{/school/info}';|">
				<input type="submit" value="수정">
			</div>
		</div>	
	</div>
</form>		

</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/school/school.js"></script>
</th:block>

</html>



