<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/login.css">
</th:block>

<th:block layout:fragment="content">

<div id="wrapper">
	<!-- HEADER -->
	<div id="header">	
		<h1 class="hidden" style="display: none;">사조대학 포털시스템</h1>
		
	</div>
	
	<!-- CONTENTS -->
	<div id="container">
		<div id="contain">
			<!-- 로그인 -->
			<div id="login" style="background: none !important;">
				
				<p class="mb10">
					<a href="https://www.yu.ac.kr/main/intro/privacy.do" target="_blank"><strong style="color:#294798">개인정보처리방침</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a onclick="window.open(this.href,'','left=100,top=100,width=710,height=480,scrollbars=yes');" title="이메일무단수집거부 새창열림" href="http://www.yu.ac.kr/_korean/_popup/emailrefusal.html" target="_blank">이메일무단수집거부</a>
				</p>
				
				<p class="mb10">COPYRIGHT© SAJO UNIVERSITY ALL RIGHTS RESERVED.</p>
				
				<!-- 로그인 정보 입력 -->
				<span class="logoImsi">
					<img src="/upload/mark.PNG" alt="사조대학 SAJO University">
				</span>
				
					<div class="btn btn-primary d-grid">
						<span data-bs-toggle="modal" data-bs-target="#loginModal" style="cursor: pointer;">LOGIN</span> 
					</div>
				
				
			</div>
			<div id="help_btn" class="btn_help_box">
				<div class="btn_help_type1">
					<p>통합 로그인 아이디를 모를 경우,<br>학번or교번 찾기를 사용하세요.</p>
					<ul>
						<li><a href="">학번 또는 교번 찾기</a></li>
					</ul>
				</div>
				<div class="btn_help_type1_r">
					<p>통합 로그인 비밀번호가 기억나지 않으세요?
						<br>비밀번호를 이메일로 재발급 받고 이용해주세요.
					</p>
					<div class="col">
						<span data-bs-toggle="modal" data-bs-target="#findPwModal" style="cursor: pointer;" class="btn d-grid mt-3 btn btn-primary">
									비밀번호 찾기
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- <div id="footer">
			<p class="mb10">
			<a href="https://www.yu.ac.kr/main/intro/privacy.do" target="_blank"><strong style="color:#294798">개인정보처리방침</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="window.open(this.href,'','left=100,top=100,width=710,height=480,scrollbars=yes');" title="이메일무단수집거부 새창열림" href="http://www.yu.ac.kr/_korean/_popup/emailrefusal.html" target="_blank">이메일무단수집거부</a>
			</p>
			<p>COPYRIGHT© SAJO UNIVERSITY ALL RIGHTS RESERVED.</p>
		</div> -->
		
	</div>
</div>



<!--비밀번호 찾기 Modal -->
		<div class="modal fade" id="findPwModal" 
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
	
	
					<div class="modal-body">
						<form id="findPwForm"  method="post">
							<div class="row mb-3">
								<div class="col-12">
									<input type="text" class="form-control" placeholder="Input Your No" name="memNo" id="findPwMemNo">
								</div>
							</div>
	
							<div class="row mb-3">
								<div class="col-12" id="findPwErrorDiv">
									<input type="text" class="form-control" placeholder="Input Your Name" name="memName" id="findPwMemName">
								</div>
							</div>
							
	
							<div class="row mb-3">
								<div class="col-12 d-grid">
									
									<button onclick="findPw(this);" class="btn btn-primary" type="button">
										<span>비밀번호 찾기</span>
									</button>

								</div>
								<div class="col" style="font-size: 0.8rem; color: red;">
									가입 시 작성 한 이메일로 임시 비밀번호가 발송 됩니다.
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>



</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
</th:block>

</html>