<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/login.css">
</th:block>

<th:block layout:fragment="content">
				
				
				<!-- 출처 : 유튜브 : 김포대학교 홍보자료 -->
				<iframe width="100%" height="100%"
					src="https://www.youtube.com/embed/cPXZI2SMaok?autoplay=1&mute=1&controls=0&loop=1&playlist=cPXZI2SMaok"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen>
				</iframe>

					








</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
   
   
</th:block>

</html>