<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout3"
   layout:decorate="~{fragment/layout3}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/login.css">
	<!-- bootstrap css 로딩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</th:block>


<th:block layout:fragment="content">
<div class="slide-container">
	<div class="image-wrapper" style="padding-left: 0;">
    	<img class="slide1"  alt="" src="/img/slide1.jpg">
    </div>
  <div class="slide-caption">
  </div>
</div>			

</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
</th:block>

</html>