<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout3"
   layout:decorate="~{fragment/layout3}">

<!-- Connect external CSS files -->
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- Load bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<style>
	h1, p{
		font-weight: bold;
	}
</style>
</th:block>

<th:block layout:fragment="content">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="/img/slide1.jpg" class="d-block w-100" alt="..." style="height: 100%;">
      <div class="carousel-caption">
        <h1>글로벌 가치를 선도하는 대학</h1>
        <p>2022-2023 세계대학평가 1위</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/img/slide2.jpg" class="d-block w-100" alt="..." style="height: 100%;">
      <div class="carousel-caption">
        <h1>공동체를 위한 실천적 지혜</h1>
        <p>공감과 소통 능력을 고양하는 교육<br>
        	인간 존중 정신과 공동체 구성원으로서의 책무 배양<br>
			지식 융합 능력과 창의적 도전정신 체화
		</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/img/slide4.png" class="d-block w-100" alt="..." style="height: 100%;">
      <div class="carousel-caption">
        <h1>세계 초일류 <br> 의생명과학 교육과 연구</h1>
        <p>사조병원과 함께 의생명과학 분야 선도</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/img/slide5.png" class="d-block w-100" alt="..." style="height: 100%;">
      <div class="carousel-caption">
        <h1>국책 연구 선도</h1>
        <p>4차 산업혁명 주도<br>
        글로벌 경쟁력을 갖춘 첨단 연구
        </p>
      </div>
    </div>
    <!-- More items... -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</th:block>

<!-- Connect external JS files -->
<th:block layout:fragment="content_js">
    <!-- <script type="text/javascript" src="/js/content/member/main.js"></script>  -->
</th:block>

</html>
