<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">


<!-- 연결해야 할 외부 css 파일 -->
<!-- layout에 css 적용 -->
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/test.css"> -->
				<!-- 사용 시 위의 경로 수정-->
</th:block>

<!-- layout에 content 구문에 적용 -->
<th:block layout:fragment="content">
<div class="container">
	<div class="row">
      <div class="col">
         <h1 class="title1">Sajo Univ Map</h1>
      </div>
   </div>
	<div class="row">
		<div class="col">
			<div class="contents_view_wrap">
<div class="cploca">
	<h3 class="c-tit01">교통편 안내</h3>
	<ul class="cnt-box">
		<li class="c-row aftercr">
			<dl>
				<dt class="cnt-l">
					<h4 class="c-tit">KTX 사조역 (사천사)</h4>
					<a href="http://kko.to/lG3XCDLYM" class="cw-btn" title="새창열림" target="_blank"><span class="nw">지도보기</span></a>
				</dt>
				<dd class="cnt-r aftercr">
				   <div class="c-w50">
					<h5 class="tit-bus">버스</h5>
					<div class="txt-box bus">
						<p class="b-txt">KTX 사조역(사천사)</p>
							<dl class="explain">
								<dt class="red"><span>급행</span>5004</dt>
								<dd><span>30분 소요</span><span>사조역(사천사)→ 급행리무진 5004번 이용 사조대학교 하차</span></dd>
							</dl>
						<p class="b-txt">사조대학교</p>
					</div>
		    	         </div>
					<div class="c-w50">
						<h5 class="tit-taxi">택시</h5>
						<div class="txt-box car">
							<p class="b-txt">KTX사조역(사천사)</p>
							<dl class="explain">
								<dt>16.8km</dt>
								<dd><span>30분 소요</span><span>요금 약 15,000원</span></dd>
							</dl>
							<p class="b-txt">사조대학교</p>
						</div>
					</div>
				</dd>
			</dl>
		</li>
		<li class="c-row aftercr">
			<dl>
				<dt class="cnt-l">
					<h4 class="c-tit">비행기 (사조공항)</h4>
					<!--ul class="c-list01">
						<li><span class="tit">사조 ↔ 서울 (1일 17회)</span></li>
						<li><span class="tit">운행시간   :  </span>07:00~21:30</li>
					</ul-->
					<a href="http://kko.to/-k0sCYRYp" class="cw-btn" title="새창열림" target="_blank"><span class="nw">지도보기</span></a>
				</dt>
				<dd class="cnt-r aftercr">
					<div class="c-w50">
						<h5 class="tit-bus">버스</h5>
						<div class="txt-box bus">
							<p class="b-txt">사조공항 정류장</p>
							<ul class="explain">
								<li class="skyblue"><span>일반</span>214, 402, 422, 442, 712, 714  </li>
								<li class="blue"><span>좌석</span>1127, 1147</li>
							</ul>
							<p class="b-txt cir">사조대학교 앞 정류장</p>
						</div>
					</div>
					<div class="c-w50">
						<h5 class="tit-taxi">택시</h5>
						<div class="txt-box car">
							<p class="b-txt">사조공항</p>
							<dl class="explain">
								<dt>13.2km</dt>
								<dd><span>31분 소요</span><span>요금 약 12,600원</span></dd>
							</dl>
							<p class="b-txt">사조대학교</p>
						</div>
					</div>
				</dd>
			</dl>
		</li>
		<li class="c-row aftercr">
			<dl>
				<dt class="cnt-l">
					<h4 class="c-tit">고속버스 (명석환승센터)</h4>
					<a href="http://kko.to/IX2NkDLYT" class="cw-btn" title="새창열림" target="_blank"><span class="nw">지도보기</span></a>
				</dt>
				<dd class="cnt-r">
					<h5 class="tit-walk">도보</h5>
					<div class="txt-box walk">
						<p class="b-txt">명석환승센터 하차</p>
						<dl class="explain">
							<dt>1.3km</dt>
							<dd>20분소요</dd>
						</dl>
						<p class="b-txt">사조대학교</p>
					</div>
				</dd>
			</dl>
		</li>
		<li class="c-row aftercr">
			<dl>
				<dt class="cnt-l">
					<h4 class="c-tit">고속버스 (사조고속버스터미널)</h4>
					<a href="http://kko.to/7LPSljj4o" class="cw-btn" title="새창열림" target="_blank"><span class="nw">지도보기</span></a>
				</dt>
				<dd class="cnt-r aftercr">
					<div class="c-w50">
						<h5 class="tit-bus">버스</h5>
						<div class="txt-box bus">
							<p class="b-txt">시외고속버스터미널 정류장</p>
							<ul class="explain">
								<li class="skyblue"><span>일반</span>401, 417, 492, 124, 482, 432, 712</li>
								<li class="blue"><span>좌석</span>2100, 2300</li>
							</ul>
							<p class="b-txt">사조대학교 앞 정류장</p>
						</div>
					</div>
					<div class="c-w50">
						<h5 class="tit-taxi">택시</h5>
						<div class="txt-box car">
							<p class="b-txt">사조고속버스터미널</p>
							<dl class="explain">
								<dt>9.5km</dt>
								<dd><span>27분 소요</span><span>요금 약 10,200원</span></dd>
							</dl>
							<p class="b-txt">사조대학교</p>
						</div>
					</div>

				</dd>
			</dl>
		</li>
		<li class="c-row aftercr">
			<dl>
				<dt class="cnt-l">
					<h4 class="c-tit">철도역 (Dseop역)</h4>
					<a href="http://kko.to/QgmQ8jjfp" class="cw-btn" title="새창열림" target="_blank"><span class="nw">지도보기</span></a>
				</dt>
				<dd class="cnt-r aftercr">
					<div class="c-w50">
						<h5 class="tit-bus">버스</h5>
						<div class="txt-box bus">
							<p class="b-txt">Dseop역 정류장</p>
							<ul class="explain">
								<li class="skyblue"><span>일반</span>401, 492, 124, 482, 712, 417</li>
								<li class="blue"><span>좌석</span>1723, 1713</li>
							</ul>
							<p class="b-txt">사조대학교 앞 정류장</p>
						</div>
					</div>
					<div class="c-w50">
						<h5 class="tit-taxi">택시</h5>
						<div class="txt-box car">
							<p class="b-txt">Dseop역</p>
							<dl class="explain">
								<dt>11.0km</dt>
								<dd><span>28분 소요</span><span>요금 약 11,300원</span></dd>
							</dl>
							<p class="b-txt">사조대학교</p>
						</div>
					</div>
				</dd>
			</dl>
		</li>
		

	</ul>
</div>
		
	</div>
		</div>
		<div class="col">
			<!-- 위성 뷰 -->
			<h1>캠퍼스 지도</h1>
			<div id="map" style="width:100%;height:550px; margin-bottom: 50px;"></div>
			<!-- 로드뷰 -->
			<h1>로드 뷰</h1>
			<div id="roadview" style="width:100%;height:900px;margin-bottom: 10px;"></div>
			
			<div>
				<li class="c-row aftercr">
			<dl>
				<dt class="cnt-l">
					<h4 class="c-tit">자가용 (사조IC)</h4>
					<a href="http://kko.to/VtbqCDRDH" class="cw-btn" title="새창열림" target="_blank"><span class="nw">지도보기</span></a>
				</dt>
				<dd class="cnt-r">
					<h5 class="tit-car">자가용</h5>
					<div class="txt-box car">
						<p class="b-txt">사조IC</p>
						<dl class="explain">
							<dt>사조IC</dt>
							<dd>경부고속도로(대구) → 사조방향(사조고속도로) → 사조IC → 명석로터리 우회전  → 1Km직진</dd>
						</dl>
						<p class="b-txt">* 울산대학교 홈페이지를 참고하였습니다. </p>
					</div>
				</dd>
			</dl>
		</li>
			</div>
		</div>
	</div>
<div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3be5177cdde915136b2812ede4a4434d"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(35.543755, 129.256973), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
var mapTypeControl = new kakao.maps.MapTypeControl();

// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
</script>
	
</div>




<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3be5177cdde915136b2812ede4a4434d"></script>
<script>
var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

var position = new kakao.maps.LatLng(35.543755, 129.256973);

// 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
roadviewClient.getNearestPanoId(position, 50, function(panoId) {
    roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
});
</script>
</div>


</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<!-- layout에서 자바스크립트 실행 -->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/test.js"></script> -->
					<!-- 사용 시 위의 경로 수정-->
</th:block>


</html>