<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">


<!-- 연결해야 할 외부 css 파일 -->
<!-- layout에 css 적용 -->
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/test.css"> -->
				<!-- 사용 시 위의 경로 수정-->
</th:block>

<!-- layout에 content 구문에 적용 -->
<th:block layout:fragment="content">
		<!-- map을 사용해서 월별 통계 만들기  -->
<div class="row">
	<div class="col">
		<div class="row">
<div class="container">				
		<!-- map을 사용해서 월별 통계 만들기  -->
		<div class="row chart">
			<div class="col">
				<select class="form-select" id="yearSelect" onchange="getStatistics();">
					<th:block th:each="selectYear : ${#numbers.sequence(sysYear - 4, sysYear)}">
						<option th:selected="${year == selectYear}" th:value="${selectYear}">[[${selectYear}]]</option>																									
					</th:block>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col">
				 <canvas id="myChart"></canvas>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<td>
						
						</td>
						<th:block th:each="month : ${#numbers.sequence(1, 12)}">
							<td>[[${#numbers.formatInteger(month,2)}]]월</td>
						</th:block>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mapData, state: ${mapList}">
						<td>
							[[${state.index == 0 ? '등록학생' : '?'}]]
						</td>
						<th:block th:each="data : ${mapData}">
							<td>[[${data.value}]]</td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>		
		</div>		
</div>			
</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<!-- layout에서 자바스크립트 실행 -->
<th:block layout:fragment="content_js">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- 차트.js 연결 -->		
	
	<script type="text/javascript" src="/js/content/school/stu_reg_per_month.js"></script> <!-- 차트에 필요한 js코드 추가 -->
</th:block>


</html>