@charset "UTF-8";

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
	font-family: 'NEXON Lv1 Gothic OTF';
	margin-top: 2rem;
}

a{
  text-decoration: none;
  color: inherit;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 100vh; /* 뷰포트의 100% 높이로 설정 */
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-row {
	bottom: 0;
	width: 100%;
}