@charset "UTF-8";
#calendar{
   width:80%;
   margin:20px auto;
}


a {
	text-decoration: none;
	color: inherit;
}

.mainMenuList {
	background-color: #0d3f7a;
	color: white;
	font-weight: bold;
	height: 40px;
	
}


.mainMenu:hover{
	cursor:pointer;
}

.mainMenu:hover .subMenu{
	display: block;
	list-style: none;
	position: absolute;
	z-index: 1;
	color: black;
}

.subMenu {
	display: none;
	border: 1px solid #dddddd;
	background-color: white;
	padding: 0;
	width: 10%;
	text-align: center;
}
.subMenu > li:hover > a {
	display: block;
	background-color: #dddddd;
	color: black;
	
}
