<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- bootstrap css 로딩 -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<!-- admin_layout 과 열리는 모든 페이지에 공통 적용되는 css -->
<link rel="stylesheet" href="/css/school.css">

<!-- header에 적용되는 css -->
<link rel="stylesheet" href="/css/fragment/header.css">

<!-- content 페이지가 열릴때 같이 열리는 css -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/school.css">
</th:block>
</head>
<body>
<div class="container">
	<div class="row" style="margin-bottom: 1%;">
		<div class="col">
			<th:block th:replace="~{fragment/header::headerFragment}"></th:block>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="dropdown">
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					학사 메뉴
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/info"><button class="dropdown-item" type="button">학사 안내</button></a></li>
					<li><a href="/school/scheList"><button class="dropdown-item" type="button">학사 일정</button></a></li>
				</ul>
					
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					학사 조회
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/checkStu"><button class="dropdown-item" type="button">학생 조회</button></a></li>
					<li><a href="/school/checkPro"><button class="dropdown-item" type="button">교수 조회</button></a></li>
					<li><a href="/school/checkLec"><button class="dropdown-item" type="button">강의/학점 조회</button></a></li>
				</ul>	
					
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					학적 변동
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/acaLeave"><button class="dropdown-item" type="button">휴학 관리</button></a></li>
					<li><a href="/school/acaReturn"><button class="dropdown-item" type="button">복학 관리</button></a></li>
				</ul>
				
				<button class="btn" type="button" data-bs-toggle="dropdown" style="border: 1px solid white;">
					수업 메뉴
				</button>
				<ul class="dropdown-menu">
					<li><a href="/school/lessonEnrolment"><button class="dropdown-item" type="button">수강 관리</button></a></li>
					<li><a href="/school/lessonMajorDouble"><button class="dropdown-item" type="button">복수전공 관리</button></a></li>
					<li><a href="/school/lessonWarning"><button class="dropdown-item" type="button">학사경고 관리</button></a></li>
				</ul>
			</div>
		</div>	
			
		<th:block layout:fragment="content">
			
			
			
			
			
		</th:block>
	</div>
</div>


<!-- jquery 문법 로딩 -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- bootstrap js 파일 로딩  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!-- header.js 파일 로딩 -->
<script type="text/javascript" src="/js/fragment/header.js"></script>

<!-- daum 주소록 api -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>



<!-- content 페이지가 열릴때 같이 열리는 js -->
<th:block layout:fragment="content_js"></th:block>
</body>
</html>

