<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- bootstrap css 로딩 -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<!-- admin_layout 과 열리는 모든 페이지에 공통 적용되는 css -->
<link rel="stylesheet" href="/css/school.css">

<!-- header에 적용되는 css -->
<link rel="stylesheet" href="/css/fragment/header.css">

<!-- content 페이지가 열릴때 같이 열리는 css -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/school.css">
</th:block>
</head>
<body>
<div class="container">
	<div class="row" style="margin-bottom: 1%;">
		<div class="col">
			<th:block th:replace="~{fragment/header::headerFragment}"></th:block>
		</div>
	</div>
	<div class="row">
		<div class="col">
			
			 <div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg bg-body-tertiary">
						<div class="container-fluid mainMenuList">
							<div data-bs-toggle="modal" data-bs-target="#joinModal" style="cursor: pointer;">회원등록</div>
							<div class="mainMenu">
								<a href="/school/main">학사 메뉴</a>
								<ul class="subMenu">
									<li><a href="/school/info">학사 안내</a></li>
									<li><a href="/school/scheList">학사 일정</a></li>
								</ul>
							</div>
							<div class="mainMenu">
								<a href="/school/acamain">학적 변동</a>
								<ul class="subMenu">
									<li><a href="/school/acaLeave">휴학</a></li>
									<li><a href="/school/acaReturn">복학</a></li>
									<li><a href="/school/acaReadmi">재입학</a></li>
									<li><a href="/school/acaDropOut">자퇴</a></li>
								</ul>
							</div>
							<div class="mainMenu">
								<a href="/school/lessonMain">수업</a>
								<ul class="subMenu">
									<li><a href="/school/lessonEnrolment">수강신청</a></li>
									<li><a href="/school/lessonCancel">수강취소</a></li>
									<li><a href="/school/lessonRetake">재이수</a></li>
									<li><a href="/school/lessonSeason">계절학기</a></li>
									<li><a href="/school/lessonIngang">인터넷강의</a></li>
								</ul>
							</div>
							<div class="mainMenu">
								<a href="/school/achieveMain">성적</a>
								<ul class="subMenu">
									<li><a href="/school/achieveWarning">성적관리</a></li>
									<li><a href="/school/achieveManage">학사경고</a></li>
									<li><a href="/school/achieveRating">시험성적평가</a></li>
								</ul>
							</div>
							<div class="mainMenu">
								<a href="/school/majorMain">전공.전과(부)</a>
								<ul class="subMenu">
									<li><a href="/school/majorDouble">복수전공</a></li>
									<li><a href="/school/majorMinor">부전공</a></li>
									<li><a href="/school/majorChange">전과(부)</a></li>
								</ul>
							</div>
							<div class="mainMenu">
								<a href="/school/tuitionMain">등록금납부</a>
								<ul class="subMenu">
									<li><a href="/school/tuitionInfo">등록금납부</a></li>
									<li><a href="/school/tuitionSplit">분할납부</a></li>
									<li><a href="/school/tuitionReturn">등록금반환기준</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
						
			
			
			<th:block layout:fragment="content">
			
			
			
			
			
			
			
			
			</th:block>
		</div>
	</div>
</div>


<!-- jquery 문법 로딩 -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- bootstrap js 파일 로딩  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!-- header.js 파일 로딩 -->
<script type="text/javascript" src="/js/fragment/header.js"></script>

<!-- daum 주소록 api -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>



<!-- content 페이지가 열릴때 같이 열리는 js -->
<th:block layout:fragment="content_js"></th:block>
</body>
</html>

