<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/layout}">
<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/school.css">
</th:block>

<th:block layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="title1">복학 관리</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form id="searchFormForReturn" th:achtion="@{/school/acaReturn}" method="post"> 
				<input type="hidden" name="nowPage" th:value="${searchVO.nowPage}" id="nowPageForReturn">
				<table class="table align-middle">
					<colgroup>
						<col width="10%">								
						<col width="*">								
						<col width="15%">								
					</colgroup>
					<tr>
						<td class="text-center">신청일</td>
						<td colspan="2">
							<div class="row">
								<div class="col-3">
									<div class="input-group">
										<span class="input-group-text">from</span>
										<input type="date" class="form-control" name="searchFromDate" th:value="${searchVO.searchFromDate}">
									</div>
								</div>
								<div class="col-3">
									<div class="input-group">
										<span class="input-group-text">to</span>
										<input type="date" class="form-control" name="searchToDate" th:value="${searchVO.searchToDate}">
									</div>
								</div>
								<div class="col-2">
									<select class="form-select" name="searchKeyword">
										<option value="MEM_NAME" th:selected="${searchVO.searchKeyword == 'MEM_NAME'}">학생이름</option>
										<option value="MB.MEM_NO" th:selected="${searchVO.searchKeyword == 'MB.MEM_NO'}">학생학번</option>
										<option value="DEPT_NAME" th:selected="${searchVO.searchKeyword == 'DEPT_NAME'}">소속학과</option>
									</select>												
								</div>
								<div class="col-2">
									<input type="text" class="form-control" name="searchValue" th:value="${searchVO.searchValue}">
								</div>
								<div class="col-2">
									<div class="col d-grid">
										<input type="submit" class="btn btn-primary" value="Search">
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
				</form>
				<div class="row">
					<div class="col">
						<table class="table table-hover text-center">
							<colgroup>
								<col width="5%">
								<col width="5%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="15%">
								<col width="15%">
								<col width="15%">
								<col width="15%">
							</colgroup>
							<thead style="height: 50px">
								<tr>
									<td colspan="9" style="text-align: left;">승인대기 목록</td>
								</tr>
								<tr>
									<td><input type="checkbox" class="form-check-input"></td>
									<td>No</td>
									<td>학생이름</td>
									<td>학생학번</td>
									<td>학생학년</td>
									<td>소속대학</td>
									<td>학과</td>
									<td>신청일</td>
									<td>승인여부</td>
								</tr>
							</thead>
							<tbody id="returnTable">
								<th:block th:if="${#lists.size(returnList) == 0}">
				 					<tr>
				 						<td colspan="9">조회된 회원이 없습니다.</td>
				 					</tr>
				 				</th:block>
								<th:block th:unless="${#lists.size(returnList) == 0}">
									<tr th:each="status, state : ${returnList}" style="cursor: pointer;" th:onclick="checkReturnModal([[${status.statusNo}]]);">
										<td><input type="checkbox" class="form-check-input chk" th:value="${status.statusNo}"></td>
										<td>[[${status.statusNo}]]</td>
										<td>[[${status.stuVO.memberVO.memName}]]</td>
										<td>[[${status.stuVO.memberVO.memNo}]]</td>
										<td>[[${status.stuVO.stuYear}]]</td>
										<td>[[${status.stuVO.colleageVO.collName}]]</td>
										<td>[[${status.stuVO.deptVO.deptName}]]</td>
										<td>[[${status.applyDate}]]</td>
										<td>[[${status.ingStatus}]]</td>
									</tr>
								</th:block>	
							</tbody>
						</table>
						<div class="row justify-content-center">
							<div class="col-2">
								<nav aria-label="Page navigation example">
								 <ul class="pagination">
								    <li class="page-item" th:classappend="${searchVO.prev ? '':'disabled'}">
								      <a class="page-link" href="javascript:void(0)" th:onclick="returnPaging([[${searchVO.beginPage-1}]])">
								        &laquo;
								      </a>
								    </li>
								    <li class="page-item" th:each="pageNum : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
								    	<a class="page-link" href="javascript:void(0)" th:onclick="returnPaging([[${pageNum}]])" th:classappend="${searchVO.nowPage == pageNum ? 'active' : ''}">
								    		[[${pageNum}]]
								    	</a>
								    </li>
								    <li class="page-item" th:classappend="${searchVO.next ? '':'disabled'}">
								      <a class="page-link" href="javascript:void(0)" th:onclick="returnPaging([[${searchVO.endPage+1}]])">
								       &raquo;
								      </a>
								    </li>
								  </ul>
								</nav>
							</div>
						</div>
						<div class="row" style="padding-right: 12px;">
							<div class="col-1 offset-10 d-grid">
								<input type="button" class="btn btn-primary" onclick="updateReturnApp();" value="승인완료">
							</div>
							<div class="col-1 d-grid">
								<input type="button" class="btn btn-danger" onclick="updateReturnDenied();" value="승인취소">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 my-scroll" style="padding-right: 0px;">
						<table class="table table-hover text-center">
							<colgroup>
								<col width="5%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="15%">
								<col width="15%">
								<col width="15%">
								<col width="15%">
							</colgroup>
							<thead style="height: 50px">
								<tr>
									<td colspan="9" style="text-align: left;">승인완료 목록</td>
								</tr>
								<tr>
									<td>No</td>
									<td>학생이름</td>
									<td>학생학번</td>
									<td>학생학년</td>
									<td>소속대학</td>
									<td>학과</td>
									<td>신청일</td>
									<td>승인여부</td>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${#lists.size(returnAppList) == 0}">
				 					<tr>
				 						<td colspan="9">조회된 회원이 없습니다.</td>
				 					</tr>
				 				</th:block>
								<th:block th:unless="${#lists.size(returnAppList) == 0}">
									<tr th:each="status : ${returnAppList}"  style="cursor: pointer;" th:onclick="checkReturnModal([[${status.statusNo}]]);">
										<td>[[${status.statusNo}]]</td>
										<td>[[${status.stuVO.memberVO.memName}]]</td>
										<td>[[${status.stuVO.memberVO.memNo}]]</td>
										<td>[[${status.stuVO.stuYear}]]</td>
										<td>[[${status.stuVO.colleageVO.collName}]]</td>
										<td>[[${status.stuVO.deptVO.deptName}]]</td>
										<td>[[${status.applyDate}]]</td>
										<td style="color: blue; font-weight: bold;">[[${status.ingStatus}]]</td>
									</tr>
								</th:block>	
							</tbody>
						</table>
					</div>
				</div>
			

				<div class="row">
					<div class="col-12 my-scroll" style="padding-right: 0px;">
						<table class="table table-hover text-center">
							<colgroup>
								<col width="5%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="15%">
								<col width="15%">
								<col width="15%">
								<col width="15%">
							</colgroup>
							<thead style="height: 50px">
								<tr>
									<td colspan="9" style="text-align: left;">승인취소 목록</td>
								</tr>
								<tr>
									<td>No</td>
									<td>학생이름</td>
									<td>학생학번</td>
									<td>학생학년</td>
									<td>소속대학</td>
									<td>학과</td>
									<td>신청일</td>
									<td>승인여부</td>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${#lists.size(returnDeniedList) == 0}">
				 					<tr>
				 						<td colspan="9">조회된 회원이 없습니다.</td>
				 					</tr>
				 				</th:block>
								<th:block th:unless="${#lists.size(returnDeniedList) == 0}">
									<tr th:each="status : ${returnDeniedList}"  style="cursor: pointer;" th:onclick="checkReturnModal([[${status.statusNo}]]);">
										<td>[[${status.statusNo}]]</td>
										<td>[[${status.stuVO.memberVO.memName}]]</td>
										<td>[[${status.stuVO.memberVO.memNo}]]</td>
										<td>[[${status.stuVO.stuYear}]]</td>
										<td>[[${status.stuVO.colleageVO.collName}]]</td>
										<td>[[${status.stuVO.deptVO.deptName}]]</td>
										<td>[[${status.applyDate}]]</td>
										<td style="color: red; font-weight: bold;">[[${status.ingStatus}]]</td>
									</tr>
								</th:block>	
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>	
<!-- Modal -->
<div class="modal fade modal-lg" id="memberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">학생 상세정보</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			    ...
			</div>
		</div>
	</div>
</div>
	
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/school/academic.js"></script>
</th:block>

</html>