<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/school/school_layout}">

<th:block layout:fragment="content">
<h2>휴학 관리</h2>	
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<table class="table align-middle">
						<colgroup>
							<col width="10%">								
							<col width="*">								
							<col width="15%">								
						</colgroup>
						<tr>
							<td class="text-center">승인상태</td>
							<td>
								<div class="form-check form-check-inline">
									<input type="checkbox" class="form-check-input" value="" checked onclick="setSearchCheckbox(this);">
									<label class="form-check-label">전체</label>
									<label class="form-check-label">승인대기</label>
									<label class="form-check-label">승인완료</label>
									<label class="form-check-label">승인취소</label>
								</div>
							</td>
							<td>
								<div class="row">
									<div class="col d-grid">
										<input type="button" class="btn btn-primary" value="Search" onclick="">
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-center">신청일</td>
							<td colspan="2">
								<div class="row">
									<div class="col-3">
										<div class="input-group">
											<span class="input-group-text">from</span>
											<input type="date" class="form-control" name="searchFromDate">
										</div>
									</div>
									<div class="col-3">
										<div class="input-group">
											<span class="input-group-text">to</span>
											<input type="date" class="form-control" name="searchToDate">
										</div>
									</div>
									<div class="col-2">
										<select class="form-select" name="searchKeyword">
											<option>학생이름</option>
											<option>학생학번</option>
											<option>학생학과</option>
										</select>												
									</div>
									<div class="col-4">
										<input type="text" class="form-control" name="searchValue">
									</div>
								</div>
								<div class="row">
									<div class="col"></div>
								</div>
							</td>
						</tr>
					</table>
				승인대기 목록
					<div class="row">
						<div class="col">
							<table class="table table-hover text-center">
								<colgroup>
									<col width="5%">
									<col width="5%">
									<col width="10%">
									<col width="15%">
									<col width="10%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="*">
								</colgroup>
								<thead style="height: 50px">
									<tr>
										<td><input type="checkbox" class="form-check-input"></td>
										<td>No</td>
										<td>학생이름</td>
										<td>학생학번</td>
										<td>학생학년</td>
										<td>소속대학</td>
										<td>학과</td>
										<td>신청일</td>
										<td>승인여부</td>
									</tr>
								</thead>
								<tbody id="leaveTable">
									<th:block th:if="${#lists.size(statuslist) == 0}">
					 					<tr>
					 						<td colspan="9">조회된 회원이 없습니다.</td>
					 					</tr>
					 				</th:block>
									<th:block th:unless="${#lists.size(statuslist) == 0}">
										<tr th:each="status, state : ${statuslist}">
											<td><input type="checkbox" class="form-check-input"></td>
											<td>[[${status.statusNo}]]</td>
											<td>[[${status.stuVO.memberVO.memName}]]</td>
											<td>[[${status.stuVO.memberVO.memNo}]]</td>
											<td>[[${status.stuVO.stuYear}]]</td>
											<td>[[${status.stuVO.colleageVO.collName}]]</td>
											<td>[[${status.stuVO.deptVO.deptName}]]</td>
											<td>[[${status.applyDate}]]</td>
											<td>[[${status.ingStatus}]]</td>
										</tr>
									</th:block>	
								</tbody>
							</table>
							<th:block th:each="status, state : ${statuslist}">
								<div class="row" style="padding-right: 12px;">
									<div class="col-1 offset-10 d-grid">
										<input type="button" class="btn btn-primary" th:onclick="updateLeaveApp([[${status.statusNo}]]);" value="승인완료">
									</div>
									<div class="col-1 d-grid">
										<input type="button" class="btn btn-danger" th:onclick="updateLeaveDenied([[${status.statusNo}]]);" value="승인취소">
									</div>
								</div>
							</th:block>
						</div>
					</div>

				승인완료 목록
					<div class="row">
						<div class="col">
							<table class="table table-hover text-center">
								<colgroup>
									<col width="5%">
									<col width="5%">
									<col width="10%">
									<col width="15%">
									<col width="10%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="*">
								</colgroup>
								<thead style="height: 50px">
									<tr>
										<td><input type="checkbox" class="form-check-input"></td>
										<td>No</td>
										<td>학생이름</td>
										<td>학생학번</td>
										<td>학생학년</td>
										<td>소속대학</td>
										<td>학과</td>
										<td>신청일</td>
										<td>승인여부</td>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${#lists.size(statusApplist) == 0}">
					 					<tr>
					 						<td colspan="9">조회된 회원이 없습니다.</td>
					 					</tr>
					 				</th:block>
									<th:block th:unless="${#lists.size(statusApplist) == 0}">
										<tr th:each="status, state : ${statusApplist}">
											<td><input type="checkbox" class="form-check-input"></td>
											<td>[[${status.statusNo}]]</td>
											<td>[[${status.stuVO.memberVO.memName}]]</td>
											<td>[[${status.stuVO.memberVO.memNo}]]</td>
											<td>[[${status.stuVO.stuYear}]]</td>
											<td>[[${status.stuVO.colleageVO.collName}]]</td>
											<td>[[${status.stuVO.deptVO.deptName}]]</td>
											<td>[[${status.applyDate}]]</td>
											<td style="color: blue; font-weight: bold;">[[${status.ingStatus}]]</td>
										</tr>
									</th:block>	
								</tbody>
							</table>
						</div>
					</div>
				

				승인취소 목록
					<div class="row">
						<div class="col">
							<table class="table table-hover text-center">
								<colgroup>
									<col width="5%">
									<col width="5%">
									<col width="10%">
									<col width="15%">
									<col width="10%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="*">
								</colgroup>
								<thead style="height: 50px">
									<tr>
										<td><input type="checkbox" class="form-check-input"></td>
										<td>No</td>
										<td>학생이름</td>
										<td>학생학번</td>
										<td>학생학년</td>
										<td>소속대학</td>
										<td>학과</td>
										<td>신청일</td>
										<td>승인여부</td>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${#lists.size(statusDeniedlist) == 0}">
					 					<tr>
					 						<td colspan="9">조회된 회원이 없습니다.</td>
					 					</tr>
					 				</th:block>
									<th:block th:unless="${#lists.size(statusDeniedlist) == 0}">
										<tr th:each="status, state : ${statusDeniedlist}">
											<td><input type="checkbox" class="form-check-input"></td>
											<td>[[${status.statusNo}]]</td>
											<td>[[${status.stuVO.memberVO.memName}]]</td>
											<td>[[${status.stuVO.memberVO.memNo}]]</td>
											<td>[[${status.stuVO.stuYear}]]</td>
											<td>[[${status.stuVO.colleageVO.collName}]]</td>
											<td>[[${status.stuVO.deptVO.deptName}]]</td>
											<td>[[${status.applyDate}]]</td>
											<td style="color: red; font-weight: bold;">[[${status.ingStatus}]]</td>
										</tr>
									</th:block>	
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/school/academic.js"></script>
</th:block>

</html>