.active{
	color : white;
	background-color: #9DB2BF;
}
.col-6, .col-3 {
    margin: 0px;
    padding: 0px;
}
.input-group{
	width: 100%;
    margin-left: 50px;
}
#searchRow{
	margin: 0 auto; 
	width: 60%;
}
#searchCheck{
	margin-right: 5px; 
	margin-bottom: 5px;
	margin-top: 10px;
}
#searchSelect{
	width: 130px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 0px;
}
#searchInput{
	width:250px; 
	border: 1px solid rgba(0, 0, 0, 0.5);
}
#searchBtn{
	border: 1px solid rgba(0, 0, 0, 0.5); 
	border-radius: 0px;
}
#cateSelect{
	width: 130px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 0px;
}
span{
	margin-top: 8px; 
	margin-right: 10px;
}
