<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/layout}">

<th:block layout:fragment="content">
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="title1"><a href="/school/checkStu">학생 조회</a></h1>
		</div>
	</div>
	<div class="row">
		<div class="col mb-3" >
			<div class="row">
				<div class="col" style="padding-right: 0px;">
					<form id="checkStuSearchForm" th:action="@{/school/checkStu}" method="post">
					<input type="hidden" name="nowPage" th:value="${searchVO.nowPage}" id="nowPageForStu">
					<table class="table table-hover" id="stuTable">
						<colgroup>
							<col width="15%">					
							<col width="15%">					
							<col width="15%">					
							<col width="15%">					
							<col width="10%">					
							<col width="15%">					
							<col width="15%">					
						</colgroup>
						<thead>
							<tr style="text-align: left; font-weight: bold;">
								<td colspan="7">
									학생 정보
								</td>
							</tr> 
	
							<tr style="vertical-align: middle; text-align: center;">
								<td>단과대학</td>
								<td>
									<select class="form-select" name="collNo" onchange="changeColl(this);">
										<option th:each="coll : ${colleageList}" th:value="${coll.collNo}">[[${coll.collName}]]</option>
									</select>
								</td>
								<td>전공학과</td>							
								<td id="deptDiv">
									<select class="form-select" name="deptNo">
										<option th:each="dept : ${deptList}" th:value="${dept.deptNo}" th:if="${colleageList[0].collNo==dept.collNo}">
											[[${dept.deptName}]]
										</option>
									</select>
								</td>
								<td>학생명</td>							
								<td><input type="text" class="form-control" id="searchStuInput" name="searchValue" placeholder="학생명 입력"></td>		
								<td>
									<div class="d-grid">
										<input type="button" class="btn btn-primary" value="Search" onclick="searchStuList();">
									</div>
								</td>					
							</tr>
							
							<tr style="text-align: left; font-weight: bold;">
								<td colspan="7">
									학생 전체 조회 및 검색 결과
									<span style="font-size: 0.6em; color: red;">
										해당 학생 클릭시 학생정보 상세창이 열립니다.
									</span>
								</td>
							</tr>
							<tr style="text-align: center;">
								<td>학번</td>
								<td>학생명</td>
								<td>단과대학</td>
								<td colspan="2">전공학과</td>
								<td>학년</td>
								<td>학적상태</td>
							</tr>	
						</thead>
						<tbody style="text-align: center;">
							<tr th:each="stu : ${stuList}" style="cursor: pointer;" th:onclick="openStuModal([[${stu.stuNo}]]);">
								<td>[[${stu.memNo}]]</td>
								<td>[[${stu.memberVO.memName}]]</td>
								<td>[[${stu.colleageVO.collName}]]</td>
								<td colspan="2">[[${stu.deptVO.deptName}]]</td>
								<td>[[${stu.stuYear}]]</td>
								<td>[[${stu.stuStatus}]]</td>
							</tr>	
						</tbody>	
					</table>
					</form>
				</div>
			</div>
		</div>	
		
		<div id="paging">
			<div class="row justify-content-center">
				<div class="col-3">
					<nav aria-label="Page navigation example">
						<ul class="pagination" >
							<li class="page-item" th:classappend="${searchVO.prev ? '' : 'disabled'}">
								<a class="page-link" href="javascript:void(0);" th:onclick="stuListPaging([[${searchVO.beginPage - 1}]]);" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item" th:each="pageNum : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
						    	<a class="page-link" href="javascript:void(0)" th:onclick="stuListPaging([[${pageNum}]])" th:classappend="${searchVO.nowPage == pageNum ? 'active' : ''}">
						    		[[${pageNum}]]
						    	</a>
						    </li>
							<li class="page-item" th:classappend="${searchVO.next ? '' : 'disabled'}">
								<a class="page-link" href="javascript:void(0);" th:onclick="stuListPaging([[${searchVO.endPage + 1}]]);" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div> 
		</div>	
	
	</div>
</div>	
	
	









	
<!-- Modal -->
<div class="modal fade modal-lg" id="memberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">학생 상세정보</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			    ...
			</div>
		</div>
	</div>
</div>





</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/school/check.js"></script>
</th:block>

</html>