<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
수강 신청
<form th:action="@{/stu/stuSemEnroll}" method="post" id="applyEnroll">
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col-1 d-flex align-items-center">
				단과대학
			</div>
			<div class="col-2">
				<select class="form-select text-center" name="collNo" onchange="changeColl(this)">
					<option value="">전체</option>
					<option th:each = "coll : ${colleageList}" th:value="${coll.collNo}">[[${coll.collName}]]</option>
				</select>
			</div>
			<div class="col-1 d-flex align-items-center">
				소속학과
			</div>
			<div class="col-2" id="deptDiv">
				<select class="form-select text-center" name="deptNo">
					<option value="">전체</option>
					<option th:each="dept : ${deptList}" th:value="${dept.deptNo}" th:if="${colleageList[0].collNo == dept.collNo}">
						[[${dept.deptName}]]
					</option>
				</select>
			</div>
			<div class="col-4">
				<input type="text" class="form-control" id="searchValue" name="searchValue" placeholder="강의명을 입력해주세요">
			</div>
			<div class="col-2">
				<input type="button" class="btn btn-primary" value="search" onclick="searchLecture();">
			</div>
		</div>
	</div>
</div>
<div class="row mt-5">
	<div class="col">
		<table class="table text-center">
		<colgroup>
			<col width="5%">
			<col width="10%">
			<col width="5%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="15%">
			<col width="10%">
			<col width="10%">
			<col width="*">
		</colgroup>
			<tr>
				<td>No.</td>
				<td>강의명</td>
				<td>학점</td>
				<td>단과대학</td>
				<td>학과</td>
				<td>교수</td>
				<td>강의요일/시간</td>
				<td>신청인원</td>
				<td>최대인원</td>
				<td>수강신청</td>
			</tr>
		</table>
		<div class="searchDiv">
		<table class="table text-center table-striped">
		<colgroup>
			<col width="5%">
			<col width="10%">
			<col width="5%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="15%">
			<col width="10%">
			<col width="10%">
			<col width="*">
		</colgroup>
			<tr class="align-middle" th:each="lec, state : ${lecList}">
				<td>[[${state.count}]]</td>
				<td>[[${lec.lecName}]]</td>
				<td>[[${lec.lecScore}]]</td>
				<td>[[${lec.colleageVO.collName}]]</td>
				<td>[[${lec.deptVO.deptName}]]</td>
				<td>[[${lec.memberVO.memName}]]</td>
				<td>[[${lec.lectureTimeList[0].lecDay}]]/[[${lec.lectureTimeList[0].firstTime}]]~[[${lec.lectureTimeList[0].lastTime}]]</td>
				<td>[[${lec.nowNum}]]</td>
				<td>[[${lec.maxNum}]]</td>
				<td>
					<input type="button" class="btn btn-primary forCheckEnr" value="수강신청" th:onclick="applyEnrollment([[${lec.lecNo}]],[[${lec.semNo}]], this);">
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>
</form>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <script type="text/javascript" src="/js/content/stu/stu_sem_enroll.js"></script>
</th:block>

</html>