<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
게시글 상세보기
<div class="container">
<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<td>작성자</td>
					<td></td>
					<td>작성일</td>
					<td>[[${boardDetailList.boardCreateDate}]]</td>
				</tr>
				<tr>
					<td>제목</td>
					<td>[[${boardDetailList.boardTitle}]]</td>
					<td>조회수</td>
					<td>[[${boardDetailList.boardReadCnt}]]</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">
						[[${boardDetailList.boardContent}]]
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="row">
		<div class="col">
			<input type="button" class="btn btn-primary" value="수정" th:onclick="|location.href='@{/board/updateBoard(boardNo=${boardDetailList.boardNo})}'|">
			<input type="button" class="btn btn-danger" value="삭제" th:onclick="|location.href='@{/board/deleteBoard(boardNo=${boardDetailList.boardNo})}'|">
			<input type="button" class="btn btn-primary" value="목록" onclick="location.href='/board/stuBoard'">
		</div>
	</div>
	
	
	<div class="row mt-5">
		<div class="col-6">
			<form>
				<div class="input-group mb-3">
			 		<input type="hidden" name="boardNo">
					<input type="text" class="form-control" name="replyContent" placeholder="댓글을 입력해 주세요" aria-label="Recipient's username" aria-describedby="button-addon2">
	  				<button class="btn btn-outline-primary" type="button" id="button-addon2" onclick="regReply();">등록</button>
				</div>
			</form>
			
		</div>
	</div>
</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
</th:block>

</html>