<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
시간표
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h3>강의 시간표</h3>
			</div>
		</div>
		<div class="row">
			<div class="col">
				* 시간표입니다. pdf 다운로드
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table text-center align-middle" border="1">
					<colgroup>
						<col width="5%">
						<col width="19%">
						<col width="19%">
						<col width="19%">
						<col width="19%">
						<col width="19%">
					</colgroup>
					<thead>
						<tr>
							<td></td>
							<td>월</td>
							<td>화</td>
							<td>수</td>
							<td>목</td>
							<td>금</td>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${lecList.size} == 0">
							<td colspan="6">등록된 강의가 없습니다.</td>
						</tr>
						<th:block>
							<tr th:each="time, state : ${#numbers.sequence(1,9)}" style="height: 40px;">
								<td class="text-start">
									[[${time+'교시'}]] 
								</td>
								 <td th:each="num : ${#numbers.sequence(1,5)}">
				                    <th:block th:each="lec : ${lecList}"
				                              th:if="${lec.lectureTimeList[0].lecDay == num.toString() 
				                                       and lec.lectureTimeList[0].firstTime &lt;= time.toString() 
				                                       and lec.lectureTimeList[0].lastTime >= time.toString()}">
				                            [[${lec.lecName}]]
				                    </th:block>
				                </td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
</th:block>

</html>