<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
학생커뮤니티 
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<td>No.</td>
							<td>제목</td>
							<td>작성자</td>
							<td>작성일</td>
							<td>조회수</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="board, state : ${boardList}">
							<td>[[${boardList.size()-state.index}]]</td>
							<td> <a th:href="@{/board/boardDetail(boardNo=${board.boardNo})}"> [[${board.boardTitle}]] </a> </td>
							<td>[[${board.boardWriter}]]</td>
							<td>[[${board.boardCreateDate}]]</td>
							<td>[[${board.boardReadCnt}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<input type="button" value="글쓰기" class="btn btn-primary" th:onclick="|location.href='@{/stu/stuBoardWriteForm}'|">
	</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
</th:block>

</html>