<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/layout}">

<!-- 연결해야 할 외부 css파일 -->
<th:block layout:fragment="content_css">
   <!-- <link rel="stylesheet" href="첨부될 css 파일 경로"> -->
</th:block>

<th:block layout:fragment="content">
<div class="container">
성적 조회
<div class="row">
	<div class="col-6 text-center offset-3">
		<table class="table">
			<tr>
				<td>총 취득 학점</td>
				<td>총 평점 평균</td>
			</tr>
			<tr>
				<td>[[${totalScoreForStu}]]</td>
				<td>[[${stuAvg}]]</td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<td>학년</td>
					<td>학기</td>
					<td>신청학점</td>
					<td>이수학점</td>
					<td>평점평균</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="score : ${sumScoreList}">
					<td>[[${score.semesterVO.semYear}]]</td>
					<td>[[${score.semesterVO.semester}]]학기</td>
					<td>[[${score.lecScore}]]</td>
					<td>[[${score.lecScore}]]</td>
					<td>[[${score.gradeVO.score}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col">
		<table class="table text-center">
		<colgroup>
			<col width="25%">
			<col width="20%">
			<col width="15%">
			<col width="15%">
			<col width="">
		</colgroup>
		<thead>
			<tr>
				<td>교과목명</td>
				<td>담당교수</td>
				<td>학점</td>
				<td>등급</td>
				<td>비고</td>
			</tr>
		</thead>
			<tbody>
				<tr th:each="grade : ${gradeList}">
					<td>[[${grade.lecName}]]</td>
					<td>[[${grade.memberVO.memName}]]</td>
					<td>[[${grade.lecScore}]]</td>
					<td>
						[[${grade.gradeVO.grade}]] / [[${grade.gradeVO.score}]] 
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<table class="table"></table>
	</div>
</div>
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
   <!-- <script type="text/javascript" src="첨부될 js 파일 경로"></script> -->
</th:block>

</html>